
body {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  overflow: hidden;
}
#header {
  background-color: #fff;
  overflow: hidden;
}
.navbar {
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
}
.navbar-toggler-icon{
  background-color: #c3c3c3;
  padding: 20px;
  border-radius: 10px;
  color: #4030f0;
}
.navbar_toggle{
  color: #4030f0;
}
.navbar a {
  text-decoration: none;
}
h2.logo strong {
  font-size: 30px;
  color: #4030f0;
  font-weight: 700;
}
h2.center-logo {
  margin: 10px 35px;
  margin-left: 400px
}
#navbarSupportedContent {
  justify-content: center;
}
ul.navbar-nav li.nav-item {
  margin-right: 25px;
}
ul.navbar-nav li.nav-item:last-child {
  margin-right: 0;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #000;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #000;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #4030f0;
}
/*search box css start here*/
#search{
  margin: 10px;
  width: 120px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #000;
}
.search-sec #input{
  margin-right: 20px;
}
option{
  padding: 0px;
}
.search-sec{
  border-bottom: 1px solid #c0c0c0;
}
.search-slt{
  display: block;
  border: 2px solid #000;
  margin: 10px;
  width: 40%;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #fff;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  width: 120px;
  margin-top: 10px;
  background-color: #4030f0;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:10px;
}

.property-item {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}

.property-item .border-top {
  border-top: 1px dashed rgba(0, 105, 185, 0.3) !important;
}

.property-item .border-end {
  border-right: 1px dashed rgba(0, 105, 185, 0.3) !important;
}
.image-slider {
  display: flex;
  transition: transform 0.3s ease;
}
.tab-content{
  position: relative;
  float: right;
  left: 720px;
  top: -660px;
  height: 100vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#prop{
  margin-top: 5px;
}
iframe{
  width: 700px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media screen and (max-width: 820px){
  body{
    width: 100vw;
  }
  .tab-content{
    position: relative;
    top:0px;
    left:60px ;
  }
  #prop{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  iframe{
    width: 850px ;
    height: 200px ;
    left: 50px ;
  }
}
@media screen and (max-width: 400px){
body{
  overflow-y: scroll;
}
.tab-content{
  position: relative;
  top:0px;
  left:0px;
}
#prop{
  margin-top: 10px;
}
iframe{
  opacity: 0;
  height: 0;
  width: 0;
}
}

.heart-container {
  --heart-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 25px;
  height: 15px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}
.heart-container 
.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
.property-item a{
  text-decoration: none;
}