body{
  overflow-x: hidden;

}
  #logo span{
    color: #536bf6;
    font-weight: 700;
    font-size: 30px;

  }
  .navbar{
    height: 100px;
    overflow-x: hidden;
  }
  .navbar-nav{
    padding-left: 30px;
  }
  .nav-item .nav-link{
    font-size: 17px;
    margin: 5px;
    color:#536bf6;
  }
  .navbar-toggler {
    margin-top: 15px;
  }
  
@media (max-width: 768px) {
    .navbar {
        height: 100px;
     }
    #logo {
      width: 80px;
      height: auto;
      position: relative;
      bottom: 0px;
      margin-left: -200px;
    }
    .navbar-light .navbar-nav .nav-link {
      padding-right: 75px;
    }
    #nav-left {
      padding-left: 30px;
    }
  }
  .landing img{
    position: relative;
    width: 100vw;
    height: 50vh;
  }

.search{
  position: relative;
    margin-bottom: auto;
    margin-top:-300px;
    height: 70px;
    background-color: transparent;
    padding: 10px;
}

.search-input{  
    color: #464343;
    outline: 0;
    background: #fff;
    width: 0;
    margin-top:0px;
    border: none;
    line-height: 40px;
    transition: width 0.4s linear;

}
.search h2{
  color: #fff;
  font-weight: 800;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 35px;

}
.search .search-input{
    padding: 8px 10px;
    width: 600px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background:#fff;
    color:#1A237E;
}
.search-icon{
        height: 57px;
    width: 50px;
    float: right;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    color:#1A237E;
    background-color: #fff;

}
@media (max-width: 768px){
  .landing img{
    position: relative;
    width: 100vw;
    height: 40vh;
    left:20px
  }
  .search h2{
    font-size: 25px;
    margin-left: 40px;
  }
  .search .search-input{
    padding: 8px 10px;
    margin-left:40px;
    width: 340px;
  }
  .search{
    position: relative;
    top:100px;
  }
}
.slide{
  display:flex;
  float: right;
  margin-right: 150px;
  margin-top: 0px;
}
.slide img{
  margin: 5px;
  height: 250px;
  opacity: 0.6;
}
.signin-box{
  width: 400px;
  position: relative;
  top: 220px;
  left: 220px;
}
.signin-box h3{
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
}
.signin-box p{
  margin-bottom: 30px;
}
.signin-box a{
  margin-left: 100px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #536bf6;
  border-radius: 5px;
}
@media (max-width: 768px){
  .signin-box{
    width: 400px;
  position: relative;
  top: 50px;
  left: 100px;
  }
  .slide{
    display:flex;
    margin-right: -10px;
    margin-top: 100px;
  }
  .slide img{
    margin: 4px;
    height: 150px;
    opacity: 0.6;
  }
}
.cards{
  position: relative;
  top: 150px;
  background-color: #f8f6f6;
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.card{
  width: 370px;
  padding: 20px;
  height: 500px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  transition: .5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card h3{
  padding:20px ;
  font-weight: 500;
}
.card p{
  align-items: center;
  justify-content: center;
}
.card a{
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #536bf6;
  border-radius: 5px;
  text-decoration: none;
}
.card a:hover{
  background-color: #536bf6;
  color: #fff;
}
.card:hover{
  transform: scale(1.1);
}
.card img{
  margin-top:-20px;
  height: 100px;
  padding:0 20px;
}
@media (max-width: 768px){
  .cards{
    display: inline;
    position: relative;
  }
  .card{
    width: 400px;
  padding: 20px;
  height: 500px;
  margin: 50px;
  }
}
footer{
  height: 70vh;
}
.site-footer{
  margin-top: 200px;
  margin-left: 100px;
  position: relative;
  border-top: 1px solid #8e8888;
  border-bottom: 1px solid #8e8888;
  padding-bottom: 20px ;
  padding-top: 20px ;
  width: 85vw;
}
footer a{
  color: #272727;
  margin: 10px;
  font-size: 15px;
}
footer .link1{
  color: #536bf6;
  font-size: 16px;
}
footer .link2{
  padding-top: 25px;
  width: 54vw;
  font-size: 12px;
}
.link2 a{
  font-size: 12px;
  margin-left: 400px;
  text-decoration: underline;
}
.link3{
  font-size: 12px;
  padding-top: 25px;

}
.link3 a{
  text-decoration: underline;
  margin: 0px;
  color: #536bf6;
  font-size: 12px;
}
 .undl{
  display: inline;
  font-size: 12px;
  text-decoration: underline;
  color:#536bf6;
  margin:0px
}
.undl-sec{
  font-size: 12px;
}
#undll{
  width: 420px;
  margin-left: 550px;
}
#link4{
  text-decoration: underline;
  color:#536bf6;
}
.txt{
  font-size: 12px;
  width: 54vw
}
.search-sec{
  position: fixed;
  float: left;
  left: -20px;
  top: 0px;
  padding: 50px;
}
.search-sec input{
  color: #464343;
  outline: 0;
  background: #fff;
  width: 0;
  margin-top:0px;
  line-height: 40px;
}
.search-sec .searchsec-input{
  padding: 4px 10px;
  width: 300px;
  border-top: 1px solid #464343;
  border-right: 1px solid #fff;
  border-bottom:1px solid #464343 ;
  border-left:1px solid #464343 ;
  caret-color: #536bf6;
  font-size: 21px;
  font-weight: 300;
  color: black;
}
.searchsec:hover>.searchsec-icon{
  background:#fff;
  color:#1A237E;
}
.searchsec-icon{
  position: relative;
  top: -50px;
  left: 300px;
  height: 50px;
  width: 50px;
  align-items: center;
  display: flex;
  text-decoration: none;
  border: 1px solid #464343;
  justify-content: center;
  color:#1A237E;
  background-color: #fff;

}
iframe{
  position: fixed;
  top: 100px;
 left: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.property-item {
  box-shadow: 0 0 30px rgba(0, 105, 185, 0.3);
}

.property-item img {
  transition: .5s;
}

.property-item:hover img {
  transform: scale(1.1);
}

.property-item .border-top {
  border-top: 1px dashed rgba(0, 105, 185, 0.3) !important;
}

.property-item .border-end {
  border-right: 1px dashed rgba(0, 105, 185, 0.3) !important;
}

.ui-bookmark {
  position: relative;
  float: right;
  --icon-size: 24px;
  --icon-secondary-color: rgb(77, 77, 77);
  --icon-hover-color: rgb(97, 97, 97);
  --icon-primary-color: gold;
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

.ui-bookmark input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-bookmark .bookmark {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.bookmark::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.bookmark::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.ui-bookmark:hover .bookmark {
  fill: var(--icon-hover-color);
}

.ui-bookmark input:checked + .bookmark::after {
  -webkit-animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.ui-bookmark input:checked + .bookmark {
  fill: var(--icon-primary-color);
  -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
  animation: bookmark var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-bookmark input:checked + .bookmark::before {
  -webkit-animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

@-webkit-keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
.content{
  position: relative;
  right: 20px;
  width: 49vw;
  float: right;
  margin-top: 100px;
}