
:root {
    --primary: #01668b;
    --secondary: #def6ff;
    --light: #fff;
    --dark: #0E2E50;
}
body{
    background-color: #fff;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#feed{
    position: fixed;
    right: -40px;
    bottom: 200px;
    z-index: 100;
     -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.panel-container {
    background-color: #fff;
    border-radius: 4px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  
  .panel-container strong {
    line-height: 20px;
  }
  
  .ratings-container {
    display: flex;
    margin: 20px 0;
  }
  
  .rating {
    flex: 1;
    cursor: pointer;
    padding: 20px;
    margin: 10px 5px;
  }
  
  .rating:hover,
  .rating.active {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .rating img {
    width: 40px;
  }
  
  .rating small {
    color: #555;
    display: inline-block;
    margin: 10px 0 0;
  }
  
  .rating:hover small,
  .rating.active small {
    color: #111;
  }
  
  .btn {
    background-color: #302d2b;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 12px 30px;
    font-family: inherit;
    cursor: pointer;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .fa-heart {
    color: red;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
.back-to-top {
    position: fixed;
    display: none;
    right: 10px;
    bottom: 45px;
    z-index: 99;
}
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.btn {
    transition: .5s;
    background-color: #d64040;
    border: none;
}
.btn:hover{
    background-color:#0160ae;
}
.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}
.nav-bar {
    position: relative;
    margin-top: 45px;
    padding: 0 3rem;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .header {
        margin-top: -120px;
    }
}
.header #landing{
  position: relative;
    top: 100px;
}
@media (max-width: 768px) {
  .header #landing{
    position: relative;
    top:0px;
  }

}
.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    background: transparent;
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: transparent;
}

@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #DDDDDD;
}
/* -------------------------------------
search
---------------------------------------- */
.search{
    position: relative;
    top: -450px;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.search input{
    margin-top: -9px;
    height: 50px;
    background: transparent;
    backdrop-filter: blur(20px);
}
.search .btn{
  margin-top:-9px;
}
@media (max-width: 768px){
  .search input{
    margin-top: 10px
  }
  .search .btn{
    margin-top: 10px
  }
  .ui-bookmark{
    margin-top: 15px;
    margin-left: 40px
  }
}
.card .card-body{
    box-shadow: none;
}
.advanced{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    width: 430px;
    background-color: #ddd;
    background-image: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
  }
  
  input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #0E2E50;
    border: none;
    cursor: pointer;
  }
  
  input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  @media (max-width: 768px){
    .search{
      position: relative;
      top: -550px;
    }
  }
  /***************************/
/* CODEPEN CSS - NO NEED ***/
/***************************/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root{
	--ff-sans: 'Nunito Sans', sans-serif;
	--fs-400: 16px;
	--color-text: #000000;
	--color-accent: #000000;
  --color-border: #DDDDDD;
	--gap-700: 48px;
	--gap-400: 16px;
	--gap-300: 12px;
	--gap-200: 8px;
	--transform-arrow-down: rotate(-180deg);
	--trans: all 250ms ease-in-out;
  --br-100: 10px;
}

.cp_wrapper{
  width: 90%;
  max-width:100px;
  margin-inline: auto;
  padding: 20px;
  border-radius:10px;
}
.cp_wrapper .select{margin-inline:auto;}
@media (max-width: 768px){
  .cp_wrapper{
   align-content: flex-start;
    

  }
}

/***************************/
/***** CUSTOM SELECT *******/
/***************************/
.select{
	--width:150px;
	--height:50px;
	--icon-w:40px;
	position: relative;
	width:var(--width);
	height: var(--height);
	padding-right: var(--icon-w);
	cursor: pointer;
}

.select input,
.select .option{
	display:block;
	font-family: var(--ff-sans);
	font-size: var(--fs-400, 16px);
	color: var(--color-text, #000000);
}

.select input::-webkit-input-placeholder {
	color: var(--color-text, #000000);
}
.select input:-ms-input-placeholder {
	color: var(--color-text, #000000);
}
.select input::placeholder {
	color: var(--color-text, #000000);
}
.select input{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: var(--gap-400, 16px);
	padding-right: var(--icon-w);
	color: var(--color-text, #000000);
	text-overflow: ellipsis;
	cursor: pointer;
	border: 1px solid;
	border-color: var(--color-border, #DDDDDD);
	border-radius: var(--br-100, 10px);
}

/* -- Select Icon */
.select .select-icon{
	width: auto;
	height: 100%;
	position: absolute;
	top: 0;
	right:var(--gap-400, 16px);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--trans);
	pointer-events: none;
}
.select.open .select-icon{
	transform: var(--transform-arrow-down);
}

/* -- Select Options */
.select .options{
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	max-height: 500px;
	padding-block: var(--gap-500, 24px);
	padding-top: calc(var(--height) + 5px);
	background-color: #FFFFFF;
	border-radius: var(--br-100, 10px);
	border: 1px solid;
	border-color: var(--color-border, #DDDDDD);
	overflow:hidden;
	overflow-y: auto;
	opacity: 0;
	transition: var(--trans);
	pointer-events: none;
}
.select.open .options{
	opacity: 1;
	pointer-events: all;
}

.select .option{
	padding-block: 5px;
	padding-inline: var(--gap-400, 16px);
}
.select .option:hover,
.select .option:focus{
	background-color: rgba(0,0,0,0.05);
}

.select .options{
	z-index: 1;
}
.select,
.select input,
.select .option,
.select .select-icon{
	z-index: 2;
}
.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active
 {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}

.advanced{
    color: #00838f !important;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #00838f;
}
.container-fluid{
    background-color: var(--dark);
}
.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}
.icon img{
    height: 30px;
}
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}
.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 105, 185, 0.3);
    transition: .5s;
}
.cat-item{
    background-color: var(--secondary);
}
.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 105, 185, 0.3);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 105, 185, 0.3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 105, 185, 0.3) !important;
}

.ui-bookmark {
    position: relative;
    float: right;
    --icon-size: 24px;
    --icon-secondary-color: rgb(77, 77, 77);
    --icon-hover-color: rgb(97, 97, 97);
    --icon-primary-color: gold;
    --icon-circle-border: 1px solid var(--icon-primary-color);
    --icon-circle-size: 35px;
    --icon-anmt-duration: 0.3s;
  }
  
  .ui-bookmark input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
  }
  
  .ui-bookmark .bookmark {
    width: var(--icon-size);
    height: auto;
    fill: var(--icon-secondary-color);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
  
  .bookmark::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
      30px 0 0 -4px var(--icon-primary-color),
      0 -30px 0 -4px var(--icon-primary-color),
      -30px 0 0 -4px var(--icon-primary-color),
      -22px 22px 0 -4px var(--icon-primary-color),
      -22px -22px 0 -4px var(--icon-primary-color),
      22px -22px 0 -4px var(--icon-primary-color),
      22px 22px 0 -4px var(--icon-primary-color);
    box-shadow: 0 30px 0 -4px var(--icon-primary-color),
      30px 0 0 -4px var(--icon-primary-color),
      0 -30px 0 -4px var(--icon-primary-color),
      -30px 0 0 -4px var(--icon-primary-color),
      -22px 22px 0 -4px var(--icon-primary-color),
      -22px -22px 0 -4px var(--icon-primary-color),
      22px -22px 0 -4px var(--icon-primary-color),
      22px 22px 0 -4px var(--icon-primary-color);
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .bookmark::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: var(--icon-circle-border);
    opacity: 0;
  }
  
  /* actions */
  
  .ui-bookmark:hover .bookmark {
    fill: var(--icon-hover-color);
  }
  
  .ui-bookmark input:checked + .bookmark::after {
    -webkit-animation: circles var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circles var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
  }
  
  .ui-bookmark input:checked + .bookmark {
    fill: var(--icon-primary-color);
    -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
    animation: bookmark var(--icon-anmt-duration) forwards;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .ui-bookmark input:checked + .bookmark::before {
    -webkit-animation: circle var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circle var(--icon-anmt-duration)
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
  }
  
  @-webkit-keyframes bookmark {
    50% {
      -webkit-transform: scaleY(0.6);
      transform: scaleY(0.6);
    }
  
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  
  @keyframes bookmark {
    50% {
      -webkit-transform: scaleY(0.6);
      transform: scaleY(0.6);
    }
  
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  
  @-webkit-keyframes circle {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
  
    90% {
      width: var(--icon-circle-size);
      height: var(--icon-circle-size);
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes circle {
    from {
      width: 0;
      height: 0;
      opacity: 0;
    }
  
    90% {
      width: var(--icon-circle-size);
      height: var(--icon-circle-size);
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes circles {
    from {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    40% {
      opacity: 1;
    }
  
    to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0;
    }
  }
  
  @keyframes circles {
    from {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    40% {
      opacity: 1;
    }
  
    to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0;
    }
  }
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Testimonial ***/
.testimonial-item{
    background-color: var(--secondary);
}
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 105, 185, 0.3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(0, 105, 185, 0.3);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: #fff;
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    background: transparent;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.form-floating input{
    color: #fff;
    background-color: #0E2E50;
    border:2px dotted rgb(0, 185, 142);
}
.form-floating textarea{    
    color: #fff;
    background-color: #0E2E50;
    border:2px dotted rgb(0, 185, 126);
}
.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(0, 105, 185, 0.3);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(0, 105, 185, 0.3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}