<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% seo %}

  {% if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' }}, {{ site.title }}, {{ site.author }}" />
  {% else %}
  <meta name="keywords" content="formal verification, generative AI, EDA, research, {{ site.author }}, {{ site.title }}" />
  {% endif %}

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet" />
  
  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
  <link rel="icon" type="image/ico" href="{{ site.favicon_location | relative_url }}" />
  <link rel="shortcut-icon" type="image/ico" href="{{ site.favicon_location | relative_url }}" />

  <!-- Social Media Previews -->
  <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ '/assets/profile.png' | absolute_url }}{% endif %}" />
  <meta name="twitter:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ '/assets/profile.png' | absolute_url }}{% endif %}" />
</head>
