
.min-vh-100 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
  }

  .sidebar-footer{
    font-size: large;
  }

  .highlighted {
    background-color: #d1d1d1; /* Light gray background */
    border-radius: 0.9rem; /* Rounded corners */
    padding: 0.5rem 1rem; 
 }

 .contentarea{
    background-color: #272727;
    padding: 10px;
}

.fakeButtons {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 6px;
    left: 8px;
    background-color: #ff3b47;
    border-color: #9d252b;
    display: inline-block;
  }
  
  .fakeMinimize {
    left: 11px;
    background-color: #ffc100;
    border-color: #9d802c;
  }
  
  .fakeZoom {
    left: 16px;
    background-color: #00d742;
    border-color: #049931;
  }
  
  .fakeMenu {
    width: 60vw;
    box-sizing: border-box;
    height: 30px;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .fakeScreen {
    background-color: #151515;
    box-sizing: border-box;
    width: 60vw;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  

  .typed {
    text-align: left;
    font-size: 1.25em;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    white-space: normal;
  }

  .line1 {
    color: rgb(243, 255, 20);
  }
 
  .line2 {
    color: rgb(20, 255, 55);
  }

  .line3 {
    color: rgb(153, 201, 255);
  }

  .line4 {
    color: rgb(80, 80, 255);
  }
  .userid{
    color: #272727;
    display: inline-block;
    position: relative;
    align-items: center;
    left: 25%;
    top: 3px;
    font-size: x-large;
  }

  .custom-class{
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
  }

